
gaia-gc-list {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  overflow: hidden;
  outline: none;
}

gaia-gc-list.hidden {
  display: none;
}

#first,
#center,
#last {
  display: block;
  position: absolute;
  width: calc(100% - 2rem);
  height: 4rem;
  -moz-box-sizing: border-box;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  line-height: 4rem;
  outline: none;
  font-size: 2rem;
  text-shadow: none;
  text-align: center;
  padding: 0;
  margin: 0 1.5rem 0 1.2rem;
  background: none;
  border: none;
  border-radius: 0;
  color: #000000;
  z-index: 1;
}

#first {
  top: 1rem;
}

#center {
  top: calc(100% / 2 - 3rem);
  background-color: #373737 !important;
  border-radius: 0.5rem !important;
  color: #ffffff !important;
}

#last {
  bottom: 2rem;
}

.settings:before {
  content: '\00a0\2713';
  display: inline-block;
  float: left;
  width: 0;
  height: 100%;
}

#up-icon,
#down-icon {
  display: block;
  position: absolute;
  left: calc(100% / 2 - 1.5rem);
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  color: #000000;
  font-size: 2.6rem;
  text-shadow: none;
  text-align: center;
  border: none;
  z-index: 10;
}

#up-icon {
  top: calc(100% / 2 - 6rem);
}

#down-icon {
  top: calc(100% / 2 + 1rem);
}

#up-icon.active,
#down-icon.active {
  color: #3333EE;
}

.setcolortext {
  color: red !important;
}

.setcentertext {
  border-color: red !important;
  border-style: solid !important;
}
